.toast-scheme {
  .toast-message {
    background: white !important ;
    color: red !important ;
  }
  .toast-container {
    background: white !important ;
    color: red !important ;
  }
  .toast-md {
    background: white !important ;
    color: red !important ;
  }
  background: white !important ;
  color: red !important ;

  .ion-toast {
    background: white !important ;
    color: red !important ;
  }
}
