<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teste OCR Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button full expand="block" size="large" (click)="selectSource()">Select Image</ion-button>
    <ion-button full expand="block" size="large" (click)="recognizeImage()" [disabled]="!selectedImage">Recognize Image</ion-button>
 
    <img [src]="selectedImage" *ngIf="selectedImage">

    <ion-card *ngIf="imageText">
      <ion-card-header>
        Texto estraido
      </ion-card-header>
      <ion-card-content>
        {{ imageText }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
