<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" [ngClass]="{'cleanContainer': !selectedImage.length}">
    <h1>
      Bem vindo, favor selecione a opção atraves do icone
      <ion-icon name="menu-sharp"></ion-icon>, localizado no canto superior
      esquerdo da sua tela
    </h1>
  </div>
</ion-content>
